// ---------------------------------  
// Rafael Corsi @ insper . edu . br
//              2018a
// ---------------------------------
//
// Projeto      : Projeto I-VM
// File         : 2a-Calculadora
//
// Descritivo   : 
//  Escreva um código em VM que realize a seguinte
//  operação :
//    (14+2)-(123-1)
//
//  O resultado deve ser salvo em temp 0
//
//  ****************************************************
//  ** A ideia é deixar o Z01 resolver, você não deve **
//  ** simplificar a equação                          **
//  ****************************************************

function Main.main 0

push constant 14
push constant 2
add
pop temp 1
push constant 123
push constant 1
sub
pop temp 2
push temp 1
push temp 2
sub
pop temp 0
